.DS_Store

.bsp

.idea
.idea_modules

# CMake
cmake-build-*/

.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/



# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


### Scala ###
*.class
*.log

hs_err_pid*

target/
dist/
.cache/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history

.scala_dependencies
.cache
.classpath
.project
.settings
classes/

/*.csv

project/*-shim.sbt
project/project/
project/target/

/.worksheet/

.dotty-ide-artifact
.dotty-ide.json

.vscode